# Dependencies
node_modules
.pnp
.pnp.js
dist
build

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.pytest_cache/

# App Specific
uploads/
outputs/
models/
backend/sql_app.db
*.log

# Misc
.DS_Store
.idea
.vscode
